<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WoT Controller</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Comfortaa", "Roboto", serif;
    }

    body {
      padding: 20px;
    }

    section {
      padding: 0 5vw;
    }
  </style>
</head>

<body>
  <section>
    <h1><a href="/{{req.qp}}">{{req.rooturl}}</a>/<a href="/properties{{../req.qp}}">properties</a>/{{req.entityId}}
    </h1>
    <p>Property Details</p>
  </section>
  <section>
    {{#if req.propertyModel.name}}
    <h2>{{req.propertyModel.name}}</h2>
    {{else}}
    <h2>{{req.entityId}}</h2>
    {{/if}}
    <p>{{req.propertyModel.description}}</p>
    <p><b>Tags:</b> {{req.propertyModel.tags}}</p>

    <h3>Values</h3>
    {{#each req.propertyModel.values}}
    <h4>["{{@key}}"] - {{this.name}}</h4>
    <p><em>{{this.description}}</em></p>
    <p>type: {{this.type}}</p>
    {{#if req.result.[0]}}
    {{json req.result}}
    <!-- <p>Value: {{getById ../../req.result.[0] @key}}</p>
    <p>Timestamp: {{../../req.result.[0].timestamp}}</p> -->
    {{/if}}
    <!-- <ul class="list-group">
      {{#each this.values}}
      <li class="list-group-item">
        <span id="value-{{@key}}" class="badge">{{this}}</span>{{@key}}
      </li>
      {{/each}}
    </ul> -->
    {{/each}}
  </section>
  <section>
    <h2>Result</h2>
    {{json req.result}}
  </section>
</body>

</html>