@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Comfortaa", "Roboto", serif;
}

body {
  padding: 20px;
}

.flex {
  display: flex;
}

.switch {
  align-items: center;
}

.switch > * {
  margin-right: 20px;
}

.msg > div {
  width: 50%;
}
.msg p {
  margin: 10px 0;
}

.msg-content {
  padding: 0 10px;
  margin-right: 5vw;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}
